/*清除默认的样式*/
#carousel-container ul, #carousel-container h3, #carousel-container img, #arousel-container span{
    margin: 0;
    padding: 0;
    list-style: none;
}
#carousel-container{
    min-height: 200px;
    min-width: 400px;
    /*height: 400px;   !* 暂时的样式由js来控制 *!*/
    /*width: 800px;*/
    position: relative;
}
#carousel-container .carousel-content.fade{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
}
#carousel-container .carousel-content.fade img{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    display: none;
}
#carousel-container .carousel-content.fade img.selected{
    display: block;
}
/*导航列表的样式*/
/*square*/
#carousel-container .carousel-navList.square{
    position: absolute;
    right:10%;
    bottom: 5%;
    z-index: 1000;
}
#carousel-container .carousel-navList.square li{
    float: left;
    margin-right:5px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #cccccc;
}
#carousel-container .carousel-navList.square li.selected{
    background: coral;
}
/*circle*/
/*#carousel-container .navList-wrapper{*/
    /**/
    /*width: 100%;*/
    /*text-align: center;*/
/*}*/
#carousel-container .carousel-navList.circle{
    z-index: 1000;
    position: absolute;
    left: 50%;
    bottom: 5%;
}
#carousel-container .carousel-navList.circle li{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    float: left;
    margin-right: 10px;
    border: 2px solid #ffffff;
}
#carousel-container .carousel-navList.circle li.selected{
    background: #ffffff;
}
/*左右按钮的样式*/
#carousel-container .controlBtn{
    z-index: 1000;
    height: 50px;
    width: 50px;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    position: absolute;
    top:50%;
    margin-top: -25px;
    background: #ffffff;
    border-radius: 10px;
}
#carousel-container .controlBtn.leftBtn{
    left: 0;
}
#carousel-container .controlBtn.rightBtn{
    right:0;
}
/*轮播图标题的样式*/
#carousel-container .carousel-title{
    z-index: 1000;
    position: absolute;
    bottom: 15%;
    width: 100%;
    height: 30px;
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    overflow: hidden;
}